<div id="comments" class="md-content">
  <!-- Giscus widget -->
  <div class="giscus-frame"></div>
  <script
    src="js/client-debug.js"
    data-repo="ido777/system-design-primer-update"
    data-repo-id="R_kgDOORdCfw"
    data-category="Feedback by Page"
    data-category-id="DIC_kwDOORdCf84CqLEY"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>






